<div class="choNghiNoiBat container">
  <h4 style="text-align: center">Những chỗ nổi bật khuyến nghị cho bạn</h4>
  <p-tabView>
    <p-tabPanel header="Hồ Chí Minh">
      <app-sliderchonghinoibat [donViId]="8"></app-sliderchonghinoibat>
    </p-tabPanel>

    <p-tabPanel header="Đà Nẵng">
      <app-sliderchonghinoibat [donViId]="5"></app-sliderchonghinoibat>
    </p-tabPanel>
    <p-tabPanel header="Đà Lạt">
      <app-sliderchonghinoibat [donViId]="4"></app-sliderchonghinoibat>
    </p-tabPanel>
    <p-tabPanel header="Huế">
      <app-sliderchonghinoibat [donViId]="10"></app-sliderchonghinoibat>
    </p-tabPanel>
    <p-tabPanel header="Hà Nội">
      <app-sliderchonghinoibat [donViId]="7"></app-sliderchonghinoibat>
    </p-tabPanel>
  </p-tabView>
</div>
