# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
aspnet-core/src/BookingWeb.Web.Host/App_Data/Logs/
aspnet-core/src/BookingWeb.Web.Mvc/App_Data/Logs/
aspnet-core/src/BookingWeb.Migrator/Logs/Logs.txt
aspnet-core/build/outputs/
aspnet-core/docker/mvc/Mvc-Logs/
/aspnet-core/src/BookingWeb.Web.Host/appsettings.json
/angular/yarn.lock

