<div class="row">
  <div
    *ngFor="let item of slideschonghinoibat; let i = index"
    class="col-lg-3 slide"
    style="cursor: pointer"
  >
    <div
      class="slide-image"
      [ngStyle]="{
        'background-image': getCurrentSlideUrl(i)
      }"
      tabindex="0"
      [routerLink]="['/app/khachsanstart', item?.phongId]"
    ></div>
    <div class="slide-content">
      <p class="TenLoaiDonVi">
        {{ slideschonghinoibat[i]?.hinhThucPhong }}-{{
          slideschonghinoibat[i]?.tenDonVi
        }}
      </p>

      <div class="DiaDiem flex">
        <p-rating
          [iconOnStyle]="{ color: '#FFD200', fontSize: '15px' }"
          [ngModel]="slideschonghinoibat[i]?.danhGiaSaoTb"
          [readonly]="true"
          [cancel]="false"
        ></p-rating>
        <i class="pi pi-map-marker"></i>
        {{ slideschonghinoibat[i]?.tenDiaDiem }}
      </div>
      <div class="GiaPhong">
        <p>Giá mỗi đêm rẻ nhất chỉ từ</p>
        <h6>
          VNĐ:{{ slideschonghinoibat[i]?.listLoaiPhong[0]?.giaPhongTheoDem }}
        </h6>
      </div>
    </div>
  </div>
</div>
