.FormThongTinLienHe {
  padding: 20px;
}
.FormThongTinLienHe div input {
  width: 70%;
  border-radius: 5px;
  border: 1px solid #ced4da;
}
.ThongTinLienHe div {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.XacNhanDatCho {
  padding: 20px;
  margin-bottom: 10px;
}
.PhongConTrong {
  padding: 20px;
}
.PhongConTrongListItem {
  padding: 42px;
}
.GiaLoaiPhong {
  font-size: 20px;
  font-weight: 600;
  color: red;
  margin-top: 50px;
}
.YeuCauDacBiet {
  padding: 20px;
}
.YeuCauDacBietRadio label {
  margin: 0;
}
.invoice-container {
  text-align: center;
  margin-top: 20px;
}

#invoice {
  display: inline-block;
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
}

.btn-download {
  background-color: #00a651;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-download:hover {
  background-color: #007a3b;
}

#invoice h2 {
  text-align: center;
  margin-bottom: 20px;
}

a.btn {
  color: white;
  width: fit-content;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 17px;
  border-radius: 6px;
}

a.btnpreview {
  background-color: red;
}

a.btnpreview:hover {
  background-color: brown;
}
a.btnxacnhan {
  background-color: dodgerblue;
}

a.btnxacnhan:hover {
  background-color: rgb(20, 102, 183);
}
