<div class="sliderLoaiChoNghi">
  <h4 style="text-align: center">Tìm theo loại chỗ nghỉ</h4>

  <div class="slider">
    <div
      (click)="goToPrevious()"
      class="card flex align-items-center gap-1 cardLeftArrow"
    >
      ❰
    </div>

    <div
      (click)="goToNext()"
      class="rightArrow card flex align-items-center gap-1 cardRightArrow"
    >
      ❱
    </div>

    <div class="slide" *ngFor="let item of [].constructor(4); let i = index">
      <!-- Image -->
      <div
        class="slide-image"
        [ngStyle]="{
          'background-image': getCurrentSlideUrl(
            (currentIndex + i) % slidesloaichonghi.length
          )
        }"
        tabindex="0"
        [routerLink]="[
          '/app/trangchu',
          2,
          slidesloaichonghi[(currentIndex + i) % slidesloaichonghi.length]?.id
        ]"
        style="cursor: pointer"
      ></div>
      <div class="slide-content">
        <h5 class="titleLoaiChoO">
          {{
            slidesloaichonghi[(currentIndex + i) % slidesloaichonghi.length]
              ?.tenHinhThuc
          }}
        </h5>
        <p class="numberLoaiChoO">
          {{
            slidesloaichonghi[(currentIndex + i) % slidesloaichonghi.length]
              ?.tenDonVi
          }}
          chỗ ở
        </p>
      </div>
    </div>
  </div>
</div>
