<!-- header -->

<div class="header" style="margin-top: 81px">
  <!-- navigation header -->
  <p-tabView styleClass="nav-header tabview-custom"
    ><p-tabPanel header="Header I">
      <ng-template pTemplate="header">
        <i class="pi pi-fw pi-home"></i>
        <span>Trang chủ</span> </ng-template
      ><app-luutru [HienTrangChu]="true"></app-luutru>
    </p-tabPanel>
    <!-- <p-tabPanel header="Header II">
      <ng-template pTemplate="header">
        <i class="pi pi-search"></i>
        <span>Phản hồi</span>
      </ng-template>
      <app-phanhoi> </app-phanhoi>
    </p-tabPanel>
    <p-tabPanel header="Header III">
      <ng-template pTemplate="header">
        <i class="pi pi-fw pi-map"></i>
        <span>Địa điểm</span>
      </ng-template>
      <app-swiperxemthemanh></app-swiperxemthemanh>
    </p-tabPanel> -->
  </p-tabView>
  <!--End navigation header -->
</div>

<!-- end header -->
