<div class="PhieuInfor container" style="margin-top: 100px">
  <div class="row ThePhieuDat" style="display: flex">
    <div
      class="col-lg-6 card"
      style="height: fit-content; margin-right: 35px; padding: 20px"
    >
      <div>
        <div>Mã phiếu: {{ phieuselected?.phieuDatPhongId }}</div>
        <hr />
        <p class="tieudethongtin">Thông tin khách</p>
        <div>
          Khách hàng : {{ phieuselected?.hoTen }} &nbsp;Mã khách hàng :{{
            phieuselected?.id
          }}
        </div>
        <div>Email : {{ phieuselected?.email }}</div>

        <div>Số căn cước : {{ phieuselected?.cccd }}</div>
        <div>Số điện thoại : {{ phieuselected?.sdt }}</div>

        <hr />
        <div>
          <p class="tieudethongtin">Thông tin đặt phòng</p>
          <div>Tên phòng: {{ phieuselected?.tenPhong }}</div>
          <div>Trạng thái phòng: {{ phieuselected?.tenTrangThai }}</div>

          <h6
            style="color: #00a651; margin-top: 10px"
            *ngIf="phieuselected?.datHo === 1"
          >
            Đây là phòng đặt hộ
          </h6>
          <div>
            Người lớn : {{ phieuselected?.slNguoiLon }} - Trẻ em:
            {{ phieuselected?.slTreEm }}
          </div>
          <div>Số lượng phòng : {{ phieuselected?.slPhong }}</div>
          <br />

          <div>
            Thời gian <br />
            Từ : {{ phieuselected?.ngayBatDau }}
            <br />
            Đến :
            {{ phieuselected?.ngayHenTra }}
          </div>
          <div *ngIf="phieuselected?.ngayHuy === null">
            Ngày hủy {{ phieuselected?.ngayHuy }}
          </div>
          <br />
          <div>Số đêm thuê: {{ SoDemThue }}</div>
          <div *ngIf="phieuselected?.tienPhongQuaHan !== 0">
            Tiền phòng quá hạn : {{ phieuselected?.tienPhongQuaHan }}
          </div>

          <div *ngIf="phieuselected?.tienPhongQuaHan !== 0">
            Chi phí hủy phòng : {{ phieuselected?.chiPhiHuyPhong }}
          </div>
          <div *ngIf="phieuselected?.tienPhongQuaHan === 0">
            Không phát sinh phí hủy phòng
          </div>
          <div *ngIf="phieuselected?.yeuCauDacBiet !== null">
            Yêu cầu đặc biệt : {{ phieuselected?.yeuCauDacBiet }}
          </div>
          <div *ngIf="phieuselected?.yeuCauDacBiet === null">
            Không có yêu cầu đặc biệt
          </div>
          <hr />
          <div>Tổng tiền : {{ phieuselected?.tongTien | number : "1.0-0"}}</div>
        </div>

        <br />
        <div class="DuyetDon" style="display: flex">
          <button
            [routerLink]="['/app/Phieudatlist']"
            (click)="deny()"
            class="button-deny"
          >
            <i class="pi pi-times"></i>&nbsp;Từ chối
          </button>

          <button
            [routerLink]="['/app/Phieudatlist']"
            (click)="accept()"
            class="button-accept"
            style="margin-left: 20px"
          >
            <i class="pi pi-check"></i>&nbsp;Chấp nhận</button
          ><p-toast></p-toast>
        </div>

        <!-- <button
          [routerLink]="['/app/about']"
          (click)="delete()"
          style="background-color:#56a4fe"
        >
          <i class="pi pi-trash"></i>&nbsp;Xóa
        </button> -->

        <br />
      </div>
    </div>
    <div
      class="col-lg-5 card"
      style="
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 20px;
      "
    >
      <p
        style="
          background-color: #56a4fe;
          color: white;
          padding: 20px;
          font-size: 23px;
          font-weight: 700;
          border-radius: 10px;
        "
      >
        Vui lòng điền đủ thông tin
      </p>
      <!-- <pre>
            {{ formSuaPhieuDat.value | json }}
          </pre
        > -->
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <h6 style="font-weight: bold">Ngày nhận</h6>
          <input
            type="date"
            [value]="
              infoBooking?.ngayDat
                ? infoBooking?.ngayDat.format('YYYY-MM-DD')
                : ''
            "
          />
        </div>

        <!-- Ngày trả -->
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <h6 style="font-weight: bold">Ngày trả</h6>
          <input
            type="date"
            [value]="
              infoBooking?.ngayTra
                ? infoBooking?.ngayTra.format('YYYY-MM-DD')
                : ''
            "
          />
        </div>
      </div>
      <form [formGroup]="formSuaPhieuDat">
        <hr />
        <!-- [disabled]="!formSuaPhieuDat.valid" -->
        <button
          [routerLink]="['/app/updatephieudat', idphieudat]"
          (click)="update()"
          style="background-color: #f59e0b"
        >
          Cập nhật
        </button>
      </form>
    </div>
  </div>
</div>
