<div id="menu">
  <div id="menu-items">
    <div class="menu-item" (click)="scrollToDieuKhoan()">Điều khoản</div>
    <div class="menu-item" (click)="scrollToChinhSach()">Chính sách</div>
  </div>
  <div id="menu-background-pattern"></div>
  <div id="menu-background-image"></div>
</div>

<div class="QuyTacChung" id="DieuKhoan">
  <h5>Điều Khoản và Điều Kiện Sử Dụng</h5>
  <p>
    Chào mừng bạn đến với trang web đặt phòng StayEase. Trước khi bạn sử dụng
    dịch vụ của chúng tôi, vui lòng đọc kỹ và hiểu rõ điều khoản và điều kiện
    sau đây:
  </p>
  <div class="card">
    <div class="row">
      <div class="col-lg-3">Quyền và Nghĩa Vụ của Người Sử Dụng</div>
      <div class="col-lg-9">
        Bằng cách sử dụng trang web của StayEase, bạn đồng ý tuân theo các điều
        khoản và điều kiện sau đây và chấp nhận nghĩa vụ của người sử dụng.
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-9">
        Bạn có quyền đặt phòng và thanh toán phí theo các quy định của chúng
        tôi.
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-3">Chính Sách Đặt Phòng</div>
      <div class="col-lg-9">
        Quy định về thời gian check-in và check-out, các chính sách về đặt phòng
        và quy trình liên quan đến việc đặt phòng trên StayEase.
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-lg-3">Thanh Toán và Hủy Đặt Phòng</div>
      <div class="col-lg-9">
        Thông tin về phương thức thanh toán, chính sách hoàn tiền và phí hủy đặt
        phòng.
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-lg-3">Bảo Mật và Quyền Riêng Tư</div>
      <div class="col-lg-9">
        Chúng tôi cam kết bảo vệ thông tin cá nhân của bạn. Hãy đọc chính sách
        bảo mật của chúng tôi để biết thêm chi tiết.
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-lg-3">Trách Nhiệm và Giới Hạn Trách Nhiệm</div>
      <div class="col-lg-9">
        Chúng tôi không chịu trách nhiệm về các sự cố hoặc thiệt hại gây ra bởi
        người sử dụng trong quá trình sử dụng dịch vụ StayEase.
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-lg-3">Chính Sách Hoàn Tiền</div>
      <div class="col-lg-9">
        Thông tin chi tiết về cách chúng tôi xử lý yêu cầu hoàn tiền và điều
        kiện liên quan đến việc hoàn tiền.
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-lg-3">Luật Pháp Áp Dụng</div>
      <div class="col-lg-9">
        Điều khoản và điều kiện này tuân theo luật pháp của Việt Nam và tất cả
        tranh chấp sẽ được giải quyết theo luật pháp này.
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-lg-3">Liên Hệ</div>
      <div class="col-lg-9">
        Nếu bạn cần hỗ trợ hoặc có câu hỏi về điều khoản này, vui lòng liên hệ
        với chúng tôi qua địa chỉ email: StayEaseVN@gmail.com
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-lg-3">Sửa Đổi Điều Khoản và Điều Kiện</div>
      <div class="col-lg-9">
        StayEase có quyền sửa đổi điều khoản và điều kiện này. Bất kỳ thay đổi
        nào sẽ được thông báo cho bạn qua email hoặc thông báo trên trang web.
      </div>
    </div>

    <hr />

    <hr />
  </div>
</div>
<div class="small text-muted card gologin" [routerLink]="['/account/login']">
  Đăng nhập
</div>

<div class="QuyTacChung" id="ChinhSach">
  <h5>Chính Sách Đặt Phòng</h5>

  <div class="card">
    <div class="row">
      <div class="col-lg-3">Quy trình đặt phòng</div>
      <div class="col-lg-9">
        Khi bạn sử dụng dịch vụ của StayEase để đặt phòng, bạn cần thực hiện quy
        trình đặt phòng trực tuyến. Bạn cần cung cấp thông tin cá nhân và thanh
        toán đầy đủ theo quy định của chúng tôi để hoàn tất quá trình đặt phòng.
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-lg-3">Thời gian Check-in và Check-out</div>
      <div class="col-lg-9">
        Thời gian check-in và thời gian check-out sẽ tùy thuộc vào từng tổ chức.
        Bất kỳ sự điều chỉnh nào cần thiết trong khoảng thời gian này sẽ được
        thông báo cụ thể trong quy trình đặt phòng.
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-3">Hủy Đặt Phòng</div>
      <div class="col-lg-9">
        StayEase cho phép bạn hủy đặt phòng theo quy định riêng. Bạn cần tham
        khảo chính sách hủy đặt phòng để biết chi tiết về quá trình hủy đặt
        phòng và các khoản phí liên quan.
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-3">Xác nhận Đặt Phòng</div>
      <div class="col-lg-9">
        Sau khi bạn hoàn tất quy trình đặt phòng, bạn sẽ nhận được xác nhận đặt
        phòng qua email với thông tin chi tiết về đặt phòng của bạn. Vui lòng
        kiểm tra xác nhận này và liên hệ với chúng tôi nếu bạn gặp bất kỳ vấn đề
        nào.
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-3">Thanh Toán</div>
      <div class="col-lg-9">
        StayEase chấp nhận các phương thức thanh toán được quy định trong quá
        trình đặt phòng. Thanh toán đầy đủ là bắt buộc để hoàn tất quá trình đặt
        phòng
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-3">Thay đổi Đặt Phòng</div>
      <div class="col-lg-9">
        Nếu bạn muốn thay đổi thông tin về đặt phòng hoặc thời gian
        check-in/check-out, vui lòng liên hệ với chúng tôi theo thông tin liên
        hệ .
      </div>
    </div>
    <hr />
  </div>
  <p>
    Bằng cách sử dụng trang web của StayEase, bạn chấp nhận và đồng ý với tất cả
    điều khoản và điều kiện này.
  </p>
  <br />Xin cảm ơn bạn đã sử dụng dịch vụ của StayEase. <br /><br />
  <h3>[StayEase]</h3>
  <br />
</div>
