#menu {
  align-items: center;
  display: flex;
  height: 100vh;
  background-color: rgb(20, 20, 20);
}

#menu-items {
  margin-left: clamp(4rem, 20vw, 48rem);
  position: relative;
  z-index: 2;
}

#menu[data-active-index="0"] > #menu-background-pattern {
  background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
  background-position: 0% -75%;
}

/* #menu[data-active-index="2"] > #menu-background-pattern {
  background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
  background-position: 0% -100%;
} */

#menu[data-active-index="0"] > #menu-background-image {
  background-position: center 45%;
}

#menu[data-active-index="1"] > #menu-background-image {
  background-position: center 50%;
}

/* #menu[data-active-index="2"] > #menu-background-image {
  background-position: center 55%;
}

#menu[data-active-index="3"] > #menu-background-image {
  background-position: center 60%;
} */

#menu-background-pattern {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%,
    transparent 9%
  );
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, background-size 800ms ease,
    background-position 800ms ease;
  width: 100vw;
  z-index: 1;
}

#menu-background-image {
  background-image: url("https://termshub.io/v3/assets/images/products/terms_of_service_hero.svg");
  background-position: center 40%;
  background-size: 110vmax;
  height: 100%;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, background-size 800ms ease,
    background-position 800ms ease;
  width: 100%;
  z-index: 0;
}

#menu-items:hover ~ #menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

#menu-items:hover ~ #menu-background-image {
  background-size: 100vmax;
  opacity: 0.1;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

.menu-item {
  color: white;
  cursor: pointer;
  display: block;
  font-family: "Ibarra Real Nova", serif;
  font-size: clamp(1rem, 4vw, 4rem);
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  text-decoration: none;
  transition: opacity 400ms ease;
}
.gologin {
  border-radius: 17px;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  bottom: 4px;
  right: 30px;
  z-index: 2;
  padding: 12px;
  cursor: pointer;
}
.gologin :hover {
  
  background-color: #6c757d;
}
.QuyTacChung {
  margin: 50px 20px;
  padding: 100px 0 0 0;
}
.QuyTacChung div hr {
  margin: 0;
}
.QuyTacChung div .row {
  padding: 10px;
}
.QuyTacChung div div .col-lg-9 {
  font-weight: 300;
}
.QuyTacChung div .row div i {
  padding-right: 5px;
}
