* {
  margin-top: 0;
  padding: 0;
}
.slider {
  justify-content: center;
  position: relative;
}
.slide {
  display: flex;
  margin: 14px;
  position: relative;
}
.slide-image {
  width: 160px;
  height: 180px;
  background-size: cover;
  background-position: center;
}
.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 14px 0 14px;
}
.slide-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 14px 0 14px;
  margin-left: auto;
}

.FormSapXep p {
  margin-bottom: 14px;
}
.FormSapXep div {
  padding: 5px;
}
.FormSapXep div label {
  font-weight: 500;
}

.FormLoc p,
.FormSapXep label {
  margin: 0;
}

.FormLoc p {
  margin-bottom: 11px;
}

.FormLoc,
.FormSapXep {
  padding: 14px;
  margin-top: 14px;
}

.FormLoc div p {
  font-weight: 700;
}
.CheckboxMienPhiHuyPhong label {
  margin-left: 5px;
  margin-bottom: 0;
  font-weight: 500;
}

.MoneyRangeInput {
  display: flex;
  justify-content: center;
  margin: 22px 0;
}
.MoneyRangeInput input {
  border-radius: 10px;
  text-align: center;
}

.CheckboxLocSao {
  margin-top: 20px;
  margin-bottom: 10px;
}
.CheckboxLocSaoItem {
  display: flex;
}
.CheckboxLocSaoItem p-rating {
  margin-left: 5px;
}

.CheckboxLoaiHinhCuTru {
  margin-top: 20px;
}
.LocLoaiHinhCuChuItem {
  list-style: none;
}
.LocLoaiHinhCuChuItem li {
  margin-bottom: 2px;
}
.LocLoaiHinhCuChuItem li label {
  margin-bottom: 0;
  margin-left: 5px;
  font-weight: 500;
}

.HinhThucPhongTitle {
  font-size: 13px;
  color: white;
  background-color: dodgerblue;
  border-radius: 15px;
  padding: 3px 10px;
  margin-right: 5px;
  margin-bottom: 0;
}
.titleLoaiChoO {
  margin-top: 20px;
  margin-bottom: 0;
}
.TenLoaiDonVi {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
}
.DiaDiem {
  font-size: 13px;
  width: fit-content;
  margin: 10px 0;
  color: dodgerblue;
}
.DanhGiaPhong h6 {
  color: red;
  margin-bottom: 1.5rem;
}
.DanhGiaPhong p {
  margin-bottom: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
