<div class="container">
  <div class="row" style="justify-content: center">
    <div class="col-lg-3">
      <div
        class="card"
        style="
          width: 285px;
          padding: 20px;
          font-weight: 700;
          background-color: #1058c4;
          color: white;
          margin-top: 15px;
        "
      >
        Sao phải đặt giá cao hơn khi có giá thấp hơn
      </div>
      <!-- Google Map -->
      <iframe
        class="card"
        width="285px"
        height="160px"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=t%C3%B2a%20nh%C3%A0%20kim%20%C3%A1nh+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        ><a href="https://www.maps.ie/population/"
          >Population mapping</a
        ></iframe
      >
      <!-- End Google Map -->
      <!-- Form sắp xếp -->
      <div class="SapXep">
        <form
          class="card flex flex-column gap-4 FormSapXep"
          [formGroup]="formSapXep"
        >
          <p style="font-size: 18px; font-weight: 700">Sắp xếp kết quả</p>
          <hr style="margin: 0" />
          <div *ngFor="let sapxep of sapxeps" class="field-checkbox">
            <p-radioButton
              [inputId]="sapxep.key"
              [value]="sapxep"
              formControlName="selectedCategory"
            ></p-radioButton>
            <label [for]="sapxep.key" class="ml-2">{{ sapxep.name }}</label>
          </div>
        </form>
      </div>
      <!-- End form sắp xếp -->
      <!-- Form lọc -->
      <div class="card Loc">
        <form class="FormLoc" [formGroup]="formLoc" (ngSubmit)="onSubmit()">
          <div>
            <p style="font-size: 18px; font-weight: 700">Lọc kết quả</p>

            <div style="font-size: 12px; font-weight: 500; color: gray">
              Hiển thị kết quả phân loại theo:
            </div>
          </div>

          <hr />
          <!-- Miễn phí hủy phòng -->
          <div class="MienPhiHuyPhong">
            <p>Chính sách đặt phòng</p>
            <div class="CheckboxMienPhiHuyPhong">
              <p-checkbox
                formControlName="mienphihuyphong"
                binary="true"
                inputId="fc"
              ></p-checkbox>
              <label for="fc">Miễn phí hủy phòng</label>
            </div>
          </div>
          <hr style="margin: 21px 0" />
          <!-- End miễn phí hủy phòng -->
          <!-- Khoảng giá phòng cần tìm -->
          <div class="MoneyRange">
            <p>Khoảng giá phòng mỗi đêm</p>
            <div class="MoneyRangeInput flex w-full">
              <input
                class="col-lg-4"
                type="number"
                pInputText
                placeholder="Giá bé nhất"
                formControlName="inputminprice"
                [ngModel]="rangeValues[0]"
              />
              <hr class="col-lg-2" style="border: 1px solid; margin: 5% 0" />
              <input
                class="col-lg-4"
                type="number"
                pInputText
                placeholder="Giá lớn nhất"
                formControlName="inputmaxprice"
                [ngModel]="rangeValues[1]"
              />
            </div>
            <p-slider
              class="w-full"
              formControlName="inputprice"
              [ngModel]="rangeValues"
              [range]="true"
              [min]="0"
              [max]="maxPrice"
            ></p-slider>
          </div>
          <!-- End khoảng giá phòng cần tìm -->
          <hr />
          <!-- Số sao khách sạn cần tìm -->
          <div formGroupName="LocSaoData" class="CheckboxLocSao">
            <p>Hạng sao</p>
            <div class="CheckboxLocSaoItem" *ngFor="let star of saoOptions">
              <p-checkbox
                [binary]="true"
                [id]="'checkbox_' + star.value"
                [name]="star.value.toString()"
                [formControlName]="star.value.toString()"
                (onChange)="onCheckboxSaoChange(star.value)"
              ></p-checkbox>
              <p-rating
                [readonly]="true"
                [cancel]="false"
                formControlName="numberStar{{ star.value }}"
              ></p-rating>
            </div>
          </div>
          <!-- End số sao khách sạn cần tìm -->
          <!-- Loại hình cư trú -->
          <div formGroupName="LocLoaiHinhCuTru" class="CheckboxLoaiHinhCuTru">
            <p>Loại hình cư trú</p>
            <ul class="LocLoaiHinhCuChuItem">
              <li *ngFor="let option of loaiHinhCuTruOptions">
                <div class="p-field-checkbox">
                  <p-checkbox
                    [binary]="true"
                    [id]="'checkbox_' + option.value"
                    [name]="option.value.toString()"
                    [formControlName]="option.value.toString()"
                    (onChange)="onCheckboxLoaiHinhChange(option.value)"
                  ></p-checkbox>
                  <label [for]="'checkbox_' + option.value">{{
                    option.label
                  }}</label>
                </div>
              </li>
            </ul>
          </div>
          <!-- End loại hình cư trú -->

          <p-button
            type="submit"
            [disabled]="!formLoc.valid"
            label="Lọc"
          ></p-button>
        </form>
      </div>
      <!-- End form lọc -->
    </div>

    <div class="col-lg-8">
      <!-- <pre>
        {{ formSapXep.value | json }}
      </pre> -->
      <!-- <pre>
        {{ formLoc.value | json }}
      </pre> -->
      <p-table
        [value]="listkhachsan"
        [rows]="5"
        [paginator]="true"
        [pageLinks]="3"
      >
        <ng-template pTemplate="body" let-item let-i="rowIndex">
          <tr
            [routerLink]="['/app/khachsanstart', item?.phongId]"
            style="cursor: pointer; border: 1px solid #dee2e6"
          >
            <!-- Image Khach San -->
            <td>
              <div
                class="slide-image"
                [ngStyle]="{
                  'background-image': getCurrentSlideUrl(i)
                }"
                tabindex="0"
              ></div>
            </td>
            <!-- Details Khach San-->
            <td>
              <!-- Ten Loai Don Vi -->
              <p style="font-weight: 700">
                {{ listkhachsan[i]?.hinhThucPhong }}
                <br />
                {{ listkhachsan[i]?.tenDonVi }}
              </p>
              <!--Dia Diem -->
              <div class="DiaDiem">
                <div style="display: flex; padding-bottom: 3px">
                  <p class="HinhThucPhongTitle">
                    {{ listkhachsan[i]?.hinhThucPhong }}
                  </p>
                  <p-rating
                    [iconOnStyle]="{ color: '#FFD200', fontSize: '15px' }"
                    [ngModel]="listkhachsan[i]?.danhGiaSaoTb"
                    [readonly]="true"
                    [cancel]="false"
                  ></p-rating>
                </div>
                <i class="pi pi-map-marker"></i>
                {{ listkhachsan[i]?.diaChiChiTiet }}
              </div>
              <!-- Content of "Danh Gia Phong" -->
              <div class="DanhGiaPhong">
                <p>Điểm đánh giá</p>
                <h6>{{ listkhachsan[i]?.diemDanhGiaTB }}/10</h6>
              </div>
            </td>
            <!-- Content of "Gia Phong" -->
            <td>
              <div class="GiaPhong">
                <p>Thanh toán khi nhận phòng</p>
                <h6
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    color: red;
                    margin-top: 50px;
                  "
                >
                  VNĐ:{{ listkhachsan[i]?.giaPhongThapNhat | number : "1.0-0" }}
                </h6>
                <p>Giá cuối cùng</p>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
