<section class="vh-100">
  <div class="h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div [@routerTransition] class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">
                {{ "Tạo tài khoản" | localize }}
              </h2>
              <form
                autocomplete="off"
                #registerForm="ngForm"
                (ngSubmit)="save()"
              >
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    name="name"
                    placeholder="{{ 'Tên' | localize }}"
                    required
                    maxlength="64"
                    [(ngModel)]="model.name"
                    #nameModel="ngModel"
                    #nameEl
                  />
                  <abp-validation-summary
                    [control]="nameModel"
                    [controlEl]="nameEl"
                  ></abp-validation-summary>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    name="surname"
                    placeholder="{{ 'Họ' | localize }}"
                    required
                    maxlength="64"
                    [(ngModel)]="model.surname"
                    #surnameModel="ngModel"
                    #surnameEl
                  />
                  <abp-validation-summary
                    [control]="surnameModel"
                    [controlEl]="surnameEl"
                  ></abp-validation-summary>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="email"
                    class="form-control form-control-lg"
                    name="emailAddress"
                    placeholder="{{ 'Email' | localize }}"
                    required
                    maxlength="256"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
                    [(ngModel)]="model.emailAddress"
                    #emailAddressModel="ngModel"
                    #emailAddressEl
                  />
                  <abp-validation-summary
                    [control]="emailAddressModel"
                    [controlEl]="emailAddressEl"
                  ></abp-validation-summary>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="email"
                    class="form-control form-control-lg"
                    name="userName"
                    placeholder=" {{ 'Tên người dùng' | localize }}"
                    required
                    maxlength="32"
                    [(ngModel)]="model.userName"
                    #userNameModel="ngModel"
                    #userNameEl
                  />
                  <abp-validation-summary
                    [control]="userNameModel"
                    [controlEl]="userNameEl"
                  ></abp-validation-summary>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    class="form-control form-control-lg"
                    name="password"
                    placeholder="{{ 'Mật khẩu' | localize }}"
                    [(ngModel)]="model.password"
                    required
                    maxlength="32"
                    #passwordModel="ngModel"
                    #passwordEl
                  />
                  <abp-validation-summary
                    [control]="passwordModel"
                    [controlEl]="passwordEl"
                  ></abp-validation-summary>
                </div>

                <div class="form-check mb-3 mt-5">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="form2Example3cg"
                  />
                  <label class="form-check-label" for="form2Example3g">
                    Tôi đồng ý với tất cả
                    <a class="text-body"><u>Điều khoản dịch vụ.</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-primary btn-block"
                    [disabled]="!registerForm.form.valid || saving"
                  >
                    {{ "Đăng ký" | localize }}
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                  Tôi đã có tài khoản ?
                  <a [routerLink]="['../login']" class="fw-bold"
                    ><u>Đăng nhập tại đây.</u></a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
