<h4
  class="container image"
  style="margin-bottom: 10px; margin-top: 60px; text-align: center"
>
  Thao tác đơn giản, tiết kiệm giá thành, nhanh chóng thanh toán, bảo mật thông
  tin
</h4>
<hr style="margin: 0 150px 40px 150px" />
<div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
  <img
    class="image"
    src="https://images.pexels.com/photos/261108/pexels-photo-261108.jpeg?auto=compress&cs=tinysrgb&w=600"
    draggable="false"
  />
  <img
    class="image"
    src="https://images.pexels.com/photos/2291624/pexels-photo-2291624.jpeg?auto=compress&cs=tinysrgb&w=600"
    draggable="false"
  />
  <img
    class="image"
    src="https://images.pexels.com/photos/5379219/pexels-photo-5379219.jpeg?auto=compress&cs=tinysrgb&w=600"
    draggable="false"
  />
  <img
    class="image"
    src="https://images.pexels.com/photos/261102/pexels-photo-261102.jpeg?auto=compress&cs=tinysrgb&w=600"
    draggable="false"
  />
  <img
    class="image"
    src="https://images.pexels.com/photos/941861/pexels-photo-941861.jpeg?auto=compress&cs=tinysrgb&w=600"
    draggable="false"
  />
  <img
    class="image"
    src="https://images.pexels.com/photos/279746/pexels-photo-279746.jpeg?auto=compress&cs=tinysrgb&w=600"
    draggable="false"
  />
  <img
    class="image"
    src="https://images.unsplash.com/photo-1613346945084-35cccc812dd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1759&q=80"
    draggable="false"
  />
  <img
    class="image"
    src="https://images.pexels.com/photos/2869215/pexels-photo-2869215.jpeg?auto=compress&cs=tinysrgb&w=600"
    draggable="false"
  />
</div>
