<div class="LienHe">
  <section class="contact container" id="contact">
    <div class="row">
      <div class="form col-lg-6">
        <!-- Start Form gửi tin nhắn -->
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <h3>Liên hệ cho chúng tôi</h3>
          <input
            type="text"
            formControlName="name"
            placeholder="Nhập tên"
            class="box"
          />
          <small
            style="color: white"
            *ngIf="
              !contactForm.get('name').valid && contactForm.get('name').touched
            "
            >Vui lòng nhập tên
          </small>

          <input
            type="text"
            formControlName="email"
            placeholder="Nhập email"
            class="box"
          />
          <small
            style="color: white"
            *ngIf="
              !contactForm.get('email').valid &&
              contactForm.get('email').touched
            "
            >Vui lòng nhập email hợp lệ dạng email@gmail.com</small
          >

          <input
            type="text"
            formControlName="number"
            placeholder="Nhập số điện thoại"
            class="box"
          />
          <small
            style="color: white"
            *ngIf="
              !contactForm.get('number').valid &&
              contactForm.get('number').touched
            "
            >Vui lòng nhập sđt hợp lệ gồm 10 số</small
          >

          <textarea
            type="text"
            formControlName="message"
            placeholder="Nội dung tin nhắn ..."
            cols="30"
            rows="10"
            class="box"
          ></textarea>

          <small
            style="color: white; display: block; margin-bottom: 5px"
            *ngIf="
              !contactForm.get('message').valid &&
              contactForm.get('message').touched
            "
            >Vui lòng nhập tin nhắn</small
          >

          <p-button
            type="submit"
            label="Gửi tin"
            class="btn"
            styleClass="p-button-raised "
            [disabled]="!contactForm.valid"
            (onClick)="showGui()"
          ></p-button>
        </form>
        <p-toast></p-toast>
        <!-- End Form gửi tin nhắn -->
      </div>

      <div class="faq col-lg-6">
        <!-- Start Câu hỏi thường gặp-->
        <h3 class="title">Câu hỏi thường gặp</h3>
        <div class="ListCauHoi">
          <div class="box active">
            <h3>Cách để hủy phòng?</h3>
            <p>
              Để hủy phòng, xem chính sách hủy của khách sạn và liên hệ trực
              tiếp với khách sạn qua điện thoại hoặc email để thông báo việc hủy
              phòng và cung cấp thông tin đặt phòng của bạn. Theo dõi email hoặc
              tin nhắn để xác nhận hủy phòng thành công.
            </p>
          </div>

          <div class="box">
            <h3>Xem phòng chỗ trống không?</h3>
            <p>
              1.Truy cập vào trang web hoặc ứng dụng đặt phòng của khách sạn
              hoặc nhà cung cấp dịch vụ. <br />2.Nhập thông tin ngày nhận phòng,
              ngày trả phòng và số lượng khách. <br />3.Tìm kiếm hoặc chọn tùy
              chọn "Tìm phòng" hoặc "Kiểm tra phòng trống". <br />Hệ thống sẽ
              hiển thị danh sách phòng trống và các thông tin liên quan như loại
              phòng, giá cả và các tiện ích đi kèm. Bạn có thể sử dụng bộ lọc
              hoặc tùy chọn để thu hẹp kết quả hiển thị theo yêu cầu cụ thể.
              Chọn phòng mà bạn quan tâm và tiếp tục quy trình đặt phòng.
            </p>
          </div>

          <div class="box">
            <h3>Phương thức thanh toán là gì?</h3>
            <p>
              Các phương thức thanh toán phổ biến bao gồm:
              <br />
              1. Thẻ tín dụng/ghi nợ: Khách hàng có thể sử dụng thẻ tín dụng
              hoặc ghi nợ để thanh toán trực tuyến hoặc tại điểm bán hàng. Thông
              tin thẻ được cung cấp và số tiền sẽ được trừ trực tiếp từ tài
              khoản ngân hàng hoặc tín dụng.
              <br />
              2. Chuyển khoản ngân hàng: Khách hàng có thể chuyển tiền từ tài
              khoản ngân hàng của họ đến tài khoản của người bán bằng cách sử
              dụng thông tin ngân hàng và mã số giao dịch.
              <br />
              3. PayPal: Đây là một dịch vụ thanh toán trực tuyến phổ biến cho
              phép khách hàng kết nối tài khoản ngân hàng hoặc thẻ tín dụng và
              thanh toán trực tuyến thông qua giao diện an toàn.
              <br />
              4. Ví điện tử: Các ví điện tử như Apple Pay, Google Pay, hoặc
              Samsung Pay cho phép khách hàng thanh toán bằng cách quét mã QR
              hoặc sử dụng kết nối không dây trên điện thoại di động.
              <br />
              5. Tiền mặt: Khách hàng có thể thanh toán bằng tiền mặt tại điểm
              bán hàng hoặc khi nhận hàng (COD - Cash on Delivery).
            </p>
          </div>
          <div class="box">
            <h3>Cách để được giảm giá?</h3>
            <p>
              Để được giảm giá, bạn có thể thực hiện các bước sau:
              <br />
              1. Theo dõi khuyến mãi: Kiểm tra trang web của cửa hàng hoặc nhà
              cung cấp dịch vụ để tìm thông tin về các khuyến mãi, ưu đãi,
              chương trình giảm giá hoặc mã giảm giá đang diễn ra.
              <br />
              2. Đăng ký nhận tin: Đăng ký nhận tin tức hoặc thông báo từ cửa
              hàng hoặc nhà cung cấp dịch vụ để nhận thông tin về các ưu đãi và
              khuyến mãi đặc biệt.
              <br />
              3. Sử dụng mã giảm giá: Tìm và sử dụng các mã giảm giá hoặc phiếu
              quà tặng khi thanh toán để được giảm giá trực tiếp cho đơn hàng
              của bạn.
              <br />
              4. Tham gia chương trình thành viên: Đăng ký tham gia chương trình
              thành viên của cửa hàng hoặc nhà cung cấp dịch vụ để nhận các ưu
              đãi đặc biệt, điểm thưởng hoặc giảm giá riêng.
              <br />
              5. Theo dõi mạng xã hội: Theo dõi cửa hàng hoặc nhà cung cấp dịch
              vụ trên các mạng xã hội để cập nhật thông tin về các khuyến mãi,
              ưu đãi đặc biệt hoặc cuộc thi có thể giúp bạn giành được giảm giá.
            </p>
          </div>
          <div class="box">
            <h3>Độ tuổi cần thiết?</h3>
            <p>Bạn cần đạt đủ tuổi trưởng thành là từ 18 tuổi trở lên.</p>
          </div>
        </div>
        <!-- End Câu hỏi thường gặp  -->
      </div>
    </div>
  </section>
</div>
