<!-- <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart> -->

<div class="wrapper">
  <div class="intro-header">
    <div class="container MoTa">
      <h1>Tìm chỗ nghỉ tiếp theo</h1>
      <h4>Tìm ưu đãi khách sạn, chỗ nghỉ, dạng nhà và nhiều hơn nữa...</h4>
    </div>
  </div>

  <!-- Start Form tìm phòng -->
  <form
    [formGroup]="formTimPhong"
    (ngSubmit)="onSubmit()"
    #signInForm="ngForm"
    class="container TimPhongContainer"
  >
    <div formGroupName="timkiemData" class="TimPhong">
      <div>
        <!-- Tìm theo địa điểm  -->
        <p-autoComplete
          class="TimDiaDiem form-group"
          formControlName="locations"
          [dropdown]="true"
          [suggestions]="suggestionsDiaDiem"
          (completeMethod)="searchDiaDiem($event)"
          field="tenDiaDiem"
          name="selectedDiadiem"
          placeholder="Nhập địa điểm"
          ><i class="pi pi-building"></i
        ></p-autoComplete>
      </div>
      <!-- Tìm theo ngày  -->
      <div>
        <p-calendar
          class="form-group"
          formControlName="rangeDates"
          selectionMode="range"
          [readonlyInput]="true"
          name="rangeDates"
          [showIcon]="true"
          placeholder="Ngày nhận - trả phòng"
          dateFormat="dd.mm.yy"
        ></p-calendar>
      </div>
      <!-- Tìm theo số người và số phòng  -->
      <div>
        <p-button
          styleClass="p-button-raised"
          (click)="toggleForm()"
          label="Người lớn - Trẻ em - Phòng"
        >
          <i class="pi pi-user"></i>
        </p-button>

        <p-overlay [(visible)]="overlayVisible">
          <div class="CountRoom form-group">
            <p>Người lớn</p>
            <div>
              <button type="button" (click)="incrementDecrement('adults', -1)">
                -
              </button>
              <input type="number" formControlName="adults" name="adults" />
              <button type="button" (click)="incrementDecrement('adults', 1)">
                +
              </button>
            </div>

            <p>Trẻ em</p>
            <div>
              <button
                type="button"
                (click)="incrementDecrement('children', -1)"
              >
                -
              </button>
              <input type="number" formControlName="children" name="children" />
              <button type="button" (click)="incrementDecrement('children', 1)">
                +
              </button>
            </div>

            <p>Phòng</p>
            <div>
              <button type="button" (click)="incrementDecrement('rooms', -1)">
                -
              </button>
              <input type="number" formControlName="rooms" name="rooms" />
              <button type="button" (click)="incrementDecrement('rooms', 1)">
                +
              </button>
            </div>
          </div>
        </p-overlay>
      </div>

      <!-- Button tìm   -->

      <div style="text-align: center">
        <p-button
          pRipple
          (click)="onSubmit()"
          (click)="AnTrangChuOnSubmit()"
          styleClass="p-button-raised"
          label="Tìm kiếm"
          [routerLink]="['/app/trangchu', 0, iddiadiem]"
          ><i class="pi pi-search"></i
        ></p-button>
      </div>
    </div>
    <!-- CheckBox -->
    <div class="checkBoxTimPhong">
      <div class="flex align-items-center gap-1">
        <p-checkbox
          formControlName="group1"
          value="TimNha"
          inputId="tn"
        ></p-checkbox>
        <label for="tn">Cho tôi xem nhà nghỉ dưỡng</label>
      </div>

      <div class="flex align-items-center gap-1">
        <p-checkbox
          formControlName="group1"
          value="Cong Tac"
          inputId="ct"
        ></p-checkbox>
        <label for="ct">Tôi đi công tác</label>
      </div>
    </div>
    <!-- Tìm kiếm gần đây -->
    <div style="margin: 20px 0; padding-left: 53px" *ngIf="showTimKiemGanDay">
      <h6>Tìm kiếm gần đây</h6>

      <div
        class="TimKiemGanDay"
        style="
          width: fit-content;
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.125),
            0 1px 3px rgba(0, 0, 0, 0.125);
        "
      >
        <div
          class="slide-image"
          [style.background-image]="
            'url(/assets/img/DiaDiem/' +
            formTimPhong.value.timkiemData.locations?.tenFileAnhDD +
            ')'
          "
          routerLink="/app/khachsanlist"
        ></div>
        <div class="TimKiemGanDayDetail">
          {{ formTimPhong.value.timkiemData.locations?.tenDiaDiem }}
          <br />
          {{ this.formTimPhong.value.timkiemData?.adults }} người lớn -
          {{ this.formTimPhong.value.timkiemData?.children }}
          trẻ em
          <br />
          Số phòng: {{ this.formTimPhong.value.timkiemData?.rooms }}
        </div>
      </div>
    </div>
    <!-- End Tìm kiếm gần đây -->
  </form>
  <router-outlet></router-outlet>
  <!-- <pre>
  {{ signInForm.value | json }}
</pre> -->
  <!-- End Form tìm phòng *ngIf="HienTrangChu"-->
  <div>
    <!-- Start sliders gợi ý -->
    <div class="container GoiY">
      <app-sliderloaichonghi></app-sliderloaichonghi>
      <app-sliderdiadiem></app-sliderdiadiem>
      <app-chonghinoibat></app-chonghinoibat>
      <app-sliderimage></app-sliderimage>
    </div>
    <!-- End sliders gợi ý -->

    <hr style="margin: 0 150px 40px 150px" />

    <!-- Start đối tác khách sạn  -->
    <div class="center-container">
      <div class="DoiTacHotel row container">
        <div class="AboutDoiTacHotel col-lg-6">
          <h4>Đối tác Khách sạn</h4>
          <h6>Đối tác khách sạn trong và ngoài nước</h6>

          <p>
            Chúng tôi có một mạng lưới các khách sạn đối tác đáng tin cậy trên
            toàn thế giới cung cấp cho quý khách một loạt các lựa chọn phong phú
            và đa dạng đáp ứng tất cả các yêu cầu của bạn. Hãy đến với chúng tôi
            và để chúng tôi chia sẻ những khoảnh khắc tuyệt vời cùng bạn!
          </p>
        </div>

        <img class="col-lg-6" src="/assets/img/Logo/LogoHotel.png" alt="" />
      </div>
    </div>
    <!-- End đối tác khách sạn  -->

    <hr style="margin: 60px 150px" />

    <!-- Start form liên hệ ,câu hỏi -->
    <app-lienhe></app-lienhe>
    <!-- End form liên hệ ,câu hỏi -->

    <hr style="margin: 60px 200px" />

    <!-- Start lý do dùng web -->
    <h4 style="text-align: center">Tại sao nên đặt phòng với StayEase ?</h4>
    <div class="center-container">
      <div class="container row WhyBook">
        <div class="col-lg-3 col-md-6">
          <ul class="mb-0">
            <li>
              <img src="/assets/img/Logo/LogoWhyBook/WhyBook1.png" alt="" />
            </li>
            <li>
              <h3>Giải pháp du lịch hoàn thiện</h3>
            </li>
            <li>
              <p>
                Giải pháp toàn diện-giúp bạn tìm chuyến bay và khách sạn khắp
                Việt Nam một cách tiết kiệm
              </p>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <ul>
            <li>
              <img src="/assets/img/Logo/LogoWhyBook/WhyBook2.png" alt="" />
            </li>
            <li><h3>Giá rẻ mỗi ngày</h3></li>
            <li>
              <p>
                Giá cả minh bạch , Ưu đãi liền tay .Dễ dàng so sánh khi không
                phải trả thêm phụ phí
              </p>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <ul>
            <li>
              <img src="/assets/img/Logo/LogoWhyBook/WhyBook3.png" alt="" />
            </li>
            <li><h3>Phương thức thanh toán an toàn và linh hoạt</h3></li>
            <li>
              <p>
                Giao dịch trực tuyến an toàn với nhiều lựa chọn như chuyển khoản
                ngân hàng ,thẻ tín dụng đến internet Banking.Không tính phí giao
                dịch
              </p>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <ul>
            <li>
              <img src="/assets/img/Logo/LogoWhyBook/WhyBook4.png" alt="" />
            </li>
            <li><h3>Hỗ trợ khách hàng 24/7</h3></li>
            <li>
              <p>
                Đội ngũ nhân viên hỗ trợ khách hàng luôn sẵn sàng giúp đỡ bạn
                trong từng bước của quá trình đặt vé
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End lý do dùng web -->
  <!-- <app-timer></app-timer> -->
  <!-- Stat footer -->
  <app-footer></app-footer>
</div>
<!-- End footer -->
