<div class="slider container">
  <!-- CardRoomDetail -->
  <div class="CardRoomDetail card">
    <!--HeaderRoomDetail -->
    <div class="slide-content">
      <p class="TenLoaiDonVi">
        {{ selectedkhachsan?.hinhThucPhong }} & {{ selectedkhachsan?.tenDonVi }}
      </p>
      <div style="font-weight: 900; color: #8f8f8f">
        {{ selectedkhachsan?.hinhThucPhong }} & {{ selectedkhachsan?.tenDonVi }}
      </div>
      <div style="display: flex; padding: 7px 0">
        <div class="HinhThucPhongTitle">
          {{ selectedkhachsan?.hinhThucPhong }}
        </div>
        <p-rating
          [iconOnStyle]="{ color: '#FFD200', fontSize: '15px' }"
          [ngModel]="selectedkhachsan?.danhGiaSaoTb"
          [readonly]="true"
          [cancel]="false"
        ></p-rating>
      </div>
      <div class="DiaDiem" style="margin: 2px 0; font-weight: bold">
        <i class="pi pi-map-marker"></i>

        {{ selectedkhachsan?.diaChiChiTiet }}
      </div>
    </div>
    <!--EndHeaderRoomDetail -->

    <hr style="margin: 0 30px" />

    <!-- Image -->
    <div class="row" style="margin: 0 12px">
      <div class="col-lg-8 MainImage">
        <div
          class="slide-main-image"
          [ngStyle]="{
            'background-image': getCurrentSlideUrl()
          }"
          style="cursor: pointer"
        ></div>
      </div>

      <div class="col-lg-4 row">
        <div
          *ngFor="let item of [].constructor(6); let i = index"
          class="col-lg-6 SubImage"
        >
          <!-- Show them anh -->
          <div
            *ngIf="i === 3; else regularItem"
            (click)="toggleShowMore()"
            class="slide-sub-image show-more-item"
          >
            <div
              class="slide-sub-image"
              [ngStyle]="{
                'background-image': getCurrentSubSlideUrl(
                  i % listhinhanh.length
                )
              }"
            ></div>
          </div>
          <ng-template #regularItem>
            <div
              class="slide-sub-image"
              [ngStyle]="{
                'background-image': getCurrentSubSlideUrl(
                  i % listhinhanh.length
                )
              }"
            ></div>
          </ng-template>
        </div>
      </div>
    </div>
    <!-- End image -->
    <div class="show-more-text" *ngIf="showMore">
      <app-swiperxemthemanh></app-swiperxemthemanh>
    </div>
    <!-- BottomRoomDetail -->
    <div class="row">
      <div class="col-lg-10 DanhGiaPhong">
        <h5>Stay Ease</h5>
        <h6>
          <i class="fa-solid fa-hotel"></i>
          {{ selectedkhachsan?.diemDanhGiaTB }}/10 Ấn tượng
        </h6>
        <div>Từ {{ selectedkhachsan?.luoDatPhong }} lượt khách</div>
      </div>
      <div class="col-lg-2 GiaPhong">
        <p>Giá mỗi đêm chỉ từ</p>
        <h6>
          VNĐ:{{
            selectedkhachsan?.listLoaiPhong[0].giaPhongTheoDem
              | number : "1.0-0"
          }}
        </h6>
        <a href="/app/khachsanstart/{{ id }}#PhongConTrong" class="btn"
          >Đặt phòng</a
        >
      </div>
    </div>
    <!--End BottomRoomDetail -->
  </div>
  <!--End CardRoomDetail -->

  <!-- DiemNoiBat -->
  <div class="DiemNoiBat">
    <div>
      <i class="fa-solid fa-bus fa-beat" style="color: #ff7b00"></i>
      <p>Các phương tiện công cộng 250m</p>
    </div>
    <div>
      <i class="fa-solid fa-bell-concierge fa-beat" style="color: #3b56de"></i>
      <p>Bàn tiếp tân [24h]</p>
    </div>
    <div>
      <i class="fa-solid fa-location-dot fa-beat" style="color: #ff2e2e"></i>
      <p>Vị trí nội thành</p>
    </div>
    <div>
      <i class="fa-solid fa-wifi fa-beat"></i>
      <p>Wifi miễn phí</p>
    </div>
    <div>
      <i class="fa-solid fa-trash-can fa-beat" style="color: #89beb5"></i>
      <p>Dọn phòng hàng ngày</p>
    </div>
  </div>
  <!-- EndDiemNoiBat -->

  <hr style="margin: 20px 0px" />

  <!-- ThongTinHuuIch -->

  <div class="row ThongTinHuuIch" style="width: 80%; justify-content: center">
    <h5 class="col-lg-4">Thông tin hữu ích</h5>
    <div class="col-lg-8">
      <div class="row white-background">
        <div class="col-lg-5">Đáng giá tiền</div>
        <div class="col-lg-7">8,6</div>
      </div>
      <div class="row gray-background">
        <div class="col-lg-5">Cách trung tâm</div>
        <div class="col-lg-7">3km</div>
      </div>
      <div class="white-background row">
        <div class="col-lg-5">Đánh giá vị trí</div>
        <div class="col-lg-7">9</div>
      </div>
      <div class="row gray-background">
        <div class="col-lg-5">Sân bay gần nhất</div>
        <div class="col-lg-7">10km</div>
      </div>
    </div>
  </div>
  <!-- EndThongTinHuuIch -->

  <!-- QuyTacChung -->
  <div class="QuyTacChung">
    <h5>Quy tắc chung</h5>
    <p>
      {{ selectedkhachsan?.tenDonVi }}. Nhận yêu cầu đặc biệt - gửi yêu cầu
      trong bước kế tiếp!
    </p>
    <div class="card">
      <div
        class="row"
        *ngIf="selectedkhachsan?.chinhSachChung[0].nhanPhong !== ''"
      >
        <div class="col-lg-3"><i class="pi pi-sign-in"></i>Nhận phòng</div>
        <div class="col-lg-9">
          {{ selectedkhachsan?.chinhSachChung[0].nhanPhong }}
        </div>
      </div>
      <hr />
      <div
        class="row"
        *ngIf="selectedkhachsan?.chinhSachChung[0].traPhong !== ''"
      >
        <div class="col-lg-3"><i class="pi pi-sign-out"></i>Trả phòng</div>
        <div class="col-lg-9">
          {{ selectedkhachsan?.chinhSachChung[0].traPhong }}
        </div>
      </div>

      <hr />
      <div
        class="row"
        *ngIf="selectedkhachsan?.chinhSachChung[0].chinhSachTreEm !== ''"
      >
        <div class="col-lg-3">
          <i class="fa-solid fa-children"></i>Trẻ em và giường
        </div>
        <div class="col-lg-9">
          {{ selectedkhachsan?.chinhSachChung[0].chinhSachTreEm }}
        </div>
      </div>
      <hr />
      <div
        class="row"
        *ngIf="selectedkhachsan?.chinhSachChung[0].kiemTraThongTin !== ''"
      >
        <div class="col-lg-3">
          <i class="fa-solid fa-address-card"></i>Kiểm tra thông tin
        </div>
        <div class="col-lg-9">
          {{ selectedkhachsan?.chinhSachChung[0].kiemTraThongTin }}
        </div>
      </div>
      <hr />
      <div
        class="row"
        *ngIf="selectedkhachsan?.chinhSachChung[0].phuongThucThanhToan !== ''"
      >
        <div class="col-lg-3">
          <i class="fa-regular fa-credit-card"></i>Thanh toán
        </div>
        <div class="col-lg-9">
          {{ selectedkhachsan?.chinhSachChung[0].phuongThucThanhToan }}
        </div>
      </div>
      <hr />
      <div
        class="row"
        *ngIf="selectedkhachsan?.chinhSachChung[0].chinhSachVeThuCung !== ''"
      >
        <div class="col-lg-3"><i class="fa-solid fa-paw"></i>Vật nuôi</div>
        <div class="col-lg-9">
          {{ selectedkhachsan?.chinhSachChung[0].chinhSachVeThuCung }}
        </div>
      </div>
      <hr />
      <div
        class="row"
        *ngIf="selectedkhachsan?.chinhSachChung[0].buaSang !== ''"
      >
        <div class="col-lg-3"><i class="fa-solid fa-utensils"></i>Bữa sáng</div>
        <div class="col-lg-9">
          {{ selectedkhachsan?.chinhSachChung[0].buaSang }}
        </div>
      </div>
      <hr />

      <hr />
    </div>
  </div>
  <!-- EndQuyTacChung -->

  <!-- PhongConTrong -->
  <div class="PhongConTrong card" id="PhongConTrong">
    <h4>Những phòng còn trống tại {{ selectedkhachsan?.tenDonVi }}</h4>
    <div
      class="PhongConTrongList"
      *ngFor="
        let loaiphongdetail of selectedkhachsan?.listLoaiPhong;
        let i = index
      "
    >
      <div class="PhongConTrongListItem">
        <div class="row">
          <div class="col-lg-4">
            <div style="margin-right: 20px">
              <img
                class="card"
                style="max-width: 100%; max-height: fit-content"
                src="../../../assets/img/LoaiPhong/{{
                  loaiphongdetail?.anhDaiDien
                }}"
                alt="Fails"
              />
              <div class="row">
                <div
                  class="col-lg-4"
                  *ngFor="let item of [].constructor(3); let i = index"
                >
                  <img
                    class="card"
                    style="
                      max-width: 100%;
                      max-height: fit-content;
                      padding: 2px;
                    "
                    src="../../../assets/img/LoaiPhong/{{
                      loaiphongdetail?.anhDaiDien
                    }}"
                    alt="Fails"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 card">
            <div class="row PhongTrongDetail">
              <div class="col-lg-7" style="list-style: none">
                <li>
                  <h6>Loại phòng: {{ loaiphongdetail?.loaiPhong }}</h6>
                </li>
                <li>
                  <i class="fa-solid fa-bed"></i>
                  {{ loaiphongdetail?.sucChua }} người
                </li>
                <li>
                  <h6
                    style="color: green; margin-top: 10px"
                    *ngIf="loaiphongdetail?.mienPhiHuyPhong"
                  >
                    Miễn phí hủy phòng
                  </h6>
                  <h6
                    style="color: orange; margin-top: 10px"
                    *ngIf="!loaiphongdetail?.mienPhiHuyPhong"
                  >
                    Không miễn phí hủy phòng
                  </h6>
                </li>

                <li style="width: 60%">
                  <h6>Dịch vụ đi kèm</h6>
                  <div style="column-count: 2" class="DichVuContainer">
                    <div
                      *ngFor="
                        let dichVuItem of loaiphongdetail?.dichVu;
                        let i = index
                      "
                    >
                      {{ dichVuItem.tenDichVu }} <br />
                    </div>
                  </div>
                </li>
              </div>

              <div class="col-lg-5">
                <h6>
                  Còn {{ loaiphongdetail?.slPhongTrong }}/{{
                    loaiphongdetail?.tongSLPhong
                  }}
                  phòng
                </h6>
                <div>
                  Ưu đãi: {{ loaiphongdetail?.uuDai * 100 }}% <br />
                  Giá gói dịch vụ thêm:
                  {{ loaiphongdetail?.giaGoiDVThem }}
                  <div
                    class="GiaLoaiPhong"
                    style="color: red; margin-bottom: 20px"
                  >
                    <div *ngIf="loaiphongdetail.uuDai !== 0">
                      Giá:&ensp;
                      <s>{{
                        loaiphongdetail?.giaPhongTheoDem +
                          loaiphongdetail?.giaGoiDVThem | number : "1.0-0"
                      }}</s>
                      VNĐ
                    </div>

                    Giá ưu đãi:&ensp;
                    {{
                      loaiphongdetail?.giaPhongTheoDem *
                        (1 - loaiphongdetail?.uuDai) +
                        loaiphongdetail?.giaGoiDVThem | number : "1.0-0"
                    }}
                    VNĐ
                  </div>
                  <p-button
                    [routerLink]="[
                      '/app/thongtinlienhestart',
                      id,
                      loaiphongdetail?.loaiPhongId
                    ]"
                    [disabled]="loaiphongdetail?.slPhongTrong === 0"
                    label="Chọn phòng này"
                    styleClass="p-button-warning"
                  ></p-button>
                </div>
              </div>
            </div>
          </div>
          <hr />
        </div>

        <br /><br />
      </div>
    </div>
    <!-- EndPhongConTrong -->

    <!-- TienIchChung -->
    <div class="TienIchChung">
      <h5 style="font-weight: 700; color: crimson">Tiện ích chung</h5>
      <div class="TienIchChungContainer">
        <div
          class="TienIchChungItem"
          *ngFor="let tienich of selectedkhachsan?.dichVuChung"
        >
          <div>
            {{ tienich?.tenDichVu }}
          </div>
          <ul>
            <li *ngFor="let item of splitChiTietIntoArray(tienich.chiTiet)">
              {{ item }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- EndTienIchChung -->
  </div>

  <!-- Dang ky email -->
  <div class="DangKyEmail">
    <div class="container DangKyEmailContainer">
      <h3 style="font-family: auto">Tiết kiệm thời gian và tiền bạc</h3>
      <p>Hãy đăng ký và chúng tôi sẽ gửi những ưu đãi tốt nhất cho bạn</p>
      <div class="SubmitEmail">
        <input
          type="text"
          placeholder="Địa chỉ email của bạn"
          pInputText
          [(ngModel)]="value"
        />
        <p-button label="Đăng ký"></p-button>
      </div>
    </div>
  </div>
  <!--End Dang ky email -->
  <app-footer></app-footer>
</div>
